{% load static %}
<header class=s-header>
<div class=header__top>
<div class=header__logo>
<a class=site-logo href="{% url 'home' %}">
<h1 style=color:#fff;margin:0>Lazy Coder.</h1>
</a>
</div>
<div class=header__search>
<form role=search class=header__search-form action=/search/ >
<label>
<span class=hide-content>Search for:</span>
</label>
<input type=search class=header__search-field placeholder="Type Keywords" name=query title="Search for:" id=search autocomplete=off required>
<input type=submit class=header__search-submit value=Search>
</form>
<a href=#0 title="Close Search" class=header__search-close onclick=closeSearch1() style=margin-top:10rem>Close</a>
<script>function closeSearch1(){var e=$("body"),s=$(".header__search");e.hasClass("search-is-visible")&&(e.removeClass("search-is-visible"),setTimeout((function(){s.find(".search-field").blur()}),100))}</script>
</div>
<a href=#0 class=header__search-trigger></a>
<a href=#0 class=header__menu-toggle><span>Menu</span></a>
</div>
<nav class=header__nav-wrap>
{% url 'blog_home' as blog_home %} {% url 'contact' as contact %} {% url 'about' as about %} {% url 'home' as home %} {% url 'signin' as signin %} {% url 'signup' as signup %} {% url 'profile' username=request.user.username as profile %} {% url 'create_post' as create_post %} {% url 'category' as category %}
<ul class=header__nav>
<li class="{% if request.path == home %}current{% endif %}">
<a href="{% url 'home' %}">Home</a>
</li>
{% if request.user.is_authenticated %}
<li class="has-children {% if request.path == profile %}current{% endif %}">
<a href="{% url 'profile' request.user.username %}">Hello, {{request.user.first_name|title}}</a>
<ul class=sub-menu>
<li><a href="{% url 'profile' request.user.username %}">My Account</a></li>
<li><a href="{% url 'signout' %}">Signout</a></li>
</ul>
</li>
<li>
<a href="{% url 'create_post' %}" class="{% if request.path == create_post %}current{% endif %}">Create Post</a>
</li>
{% else %}
<li class="{% if request.path == signin %}current{% endif %}">
<a href="{% url 'signin' %}">Signin</a>
</li>
<li class="{% if request.path == signup %}current{% endif %}">
<a href="{% url 'signup' %}">Signup</a>
</li>
{% endif %}
<li class="{% if request.path == category %}current{% endif %}">
<a href="{% url 'category' %}">Categories</a>
</li>
<li class="{% if request.path == blog_home %}current{% endif %}">
<a href="{% url 'blog_home' %}">All Blog Posts</a>
</li>
<li class="{% if request.path == about %}current{% endif %}">
<a href="{% url 'about' %}">About</a>
</li>
<li class="{% if request.path == contact %}current{% endif %}">
<a href="{% url 'contact' %}">Contact</a>
</li>
</ul>
<ul class=header__social>
<li class=ss-github style=color:#fff>
<a href=https://github.com/fadingreality1 title=Github target=_blank>
<span class=screen-reader-text>Github</span>
</a>
</li>
<li class=ss-linkedin>
<a href=https://www.linkedin.com/in/kunalvermait/ target=_blank>
<span class=screen-reader-text>Linkedin</span>
</a>
</li>
<li class=ss-email>
<a href=mailto:kunalverma.learn@gmail.com.com target=_blank>
<span class=screen-reader-text>Mail</span>
</a>
</li>
<li class=ss-instagram>
<a href=https://www.instagram.com/_.kunal._.verma._/ target=_blank>
<span class=screen-reader-text>Instagram</span>
</a>
</li>
</ul>
</nav>
</header>