{% extends '../base.html' %}
{% load static %}
{% block middle_section %}

{% if s %}

<div class="container">
	{% comment %} <h1>Search result for "{{s}}":</h1> {% endcomment %}
	{% if posts.count%}
	<h3 style="margin-top:0;margin-bottom:5rem" class="adjustments">Search results for
		"<strong>{{s|truncatechars:20}}</strong>" ({{posts.count}}) :</h3>
	{% else %}
	<h3 style="margin-top:0;margin-bottom:5rem" class="adjustments">No search found results for
		"<strong>{{s|truncatechars:20}}</strong>".</h3>
	<p class="adjustments">
	<h4 class="adjustments">Some suggestions to help you:</h4>
	<ul class="adjustments">
		<li>Make sure that all words are spelled correctly.</li>
		<li>Try different keywords.</li>
		<li>Try more general keywords.</li>
		<li>Try fewer keywords.</li>
	</ul>
	</p>
	{% endif %}
</div>

{% endif %}

{% if posts.count %}
<div class="masonry-wrap">
	<div class="masonry">
		<div class="grid-sizer"></div>
		{% for post in posts %}
		<article class="masonry__brick entry format-standard animate-this">
			<div class="entry__thumb">
				<a href="{% url 'post_detail' post.slug %}" class="entry__thumb-link">
					<img src="{{post.image.url}}" srcset="{{post.image.url}} 1x, {{post.image.url}} 2x" alt="" />
				</a>
			</div>
			<div class="entry__text">
				<div class="entry__header">
					<h2 class="entry__title">
						<a href="{% url 'post_detail' post.slug %}">{{post.title|title}}</a>
					</h2>
					<div class="entry__meta">
						<span class="entry__meta-cat">
							<a href="category.html">Design</a>
							<a href="category.html">Photography</a>
						</span>
						<span class="entry__meta-date">
							<a href="#">{{post.date_posted|date:"F j, Y"}}</a>
						</span>
						<span class="entry__meta-cat">
							<a href="#">{{post.author.first_name|title}} {{post.author.last_name|title}}</a>
						</span>
					</div>
				</div>
				<div class="entry__excerpt">
					<p>
						{{post.description|truncatechars:120}}
					</p>
				</div>
			</div>
		</article>
		{% endfor %}
	</div>
	<!-- end masonry -->
</div>
<div class="row">
	<div class="column large-full">
		<nav class="pgn">
			<ul>
				<li><a class="pgn__prev" href="#0">Prev</a></li>
				<li><a class="pgn__num" href="#0">1</a></li>
				<li><span class="pgn__num current">2</span></li>
				<li><a class="pgn__num" href="#0">3</a></li>
				<li><a class="pgn__num" href="#0">4</a></li>
				<li><a class="pgn__num" href="#0">5</a></li>
				<li><span class="pgn__num dots">…</span></li>
				<li><a class="pgn__num" href="#0">8</a></li>
				<li><a class="pgn__next" href="#0">Next</a></li>
			</ul>
		</nav>
	</div>
</div>

{% endif %}

{% endblock middle_section %}