{% extends '../base.html' %}
{% load static %}
{% block middle_section %}

<main class="row content__page">
    <article class="column large-full entry format-standard">
        <div class="media-wrap entry__media">
            <div class="entry__post-thumb">
                <img src="{{post.image.url}}" alt="" />
            </div>
        </div>

        <div class="content__page-header entry__header">
            <h1 class="display-1 entry__title">{{post.title}}</h1>
            <ul class="entry__header-meta">
                <li class="author">
                    By <a href="#0">{{post.author.first_name|title}}</a>
                </li>
                <li class="date">{{post.date_posted|date:"F j, Y"}}</li>
                <li class="cat-links">
                    <a href="#0">Marketing</a><a href="#0">Management</a>
                </li>
            </ul>
        </div>
        <!-- end entry__header -->

        <div class="entry__content">
            <p class="lead drop-cap">{{post.description}}</p>

            <p>{{post.content|safe}}</p>

            <p class="entry__tags">
                <span>Post Tags</span>

                <span class="entry__tag-list">
                    <a href="#0">orci</a>
                    <a href="#0">lectus</a>
                    <a href="#0">varius</a>
                    <a href="#0">turpis</a>
                </span>
            </p>
        </div>
        <!-- end entry content -->
    </article>
    <!-- end column large-full entry-->

    {% if request.user.is_authenticated %}
    <h3 class="h3">Add Comment.</h3>
    <form action="{% url 'post_comment' post.slug %}" method="post" class="large-full">
        {% csrf_token %}

        <div class="form-field">
            <input name="comment" id="cWebsite" class="full-width" placeholder="Comment here" value="" type="text" maxlength="700" required />
        </div>
        <input type="hidden" value="" name="parent_id" />

        <div class="form-field">
            <input name="submit" id="submit" class="btn" value="Comment" type="submit" />
        </div>
    </form>

    {% else %}
    <h3 class="h3">
        <a href="{% url 'signin' %}" class="">Signin</a> to Post Comments.
    </h3>
    {% endif %}

    {% if comments.count == 0 %}

    <h3 class="h3">No comments yet. be the first person to comment</h3>

    {% else %}

    {% include "blog/comment/comment_section.html" with comments=comments %}

    {% endif %}
</main>

{% endblock middle_section %}